- @title = ""

.grid-container
  %ul.grid
    - @river.each do |separator,items|
      -if @group_stream_by == "calendar_month"
        %li.separator
          %h2.calendar
            - d = Date.parse(separator)
            = d.strftime("%B")
            %span= d.strftime("%y")
      -else
        %li.separator
          %h2.age
            %span= separator
            Months

      - items.each do |drop|
        - if drop['text'] # it is a tweet
          %li.tweet
            = format_tweet(drop['text']) + "<br>—&nbsp;@" + drop['user']['screen_name'] + ", "
            %a{:href=> twitter_url(drop)}= pretty_date(drop['created_at'])
        - elsif drop['farm'] # it is a flickr photo
          %li.photo
            %a{:href => photo_path(drop) }= flickr_square(drop)
