!!! Strict
%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %title= @page_title + @site_config.site_name
    %link{:rel=>"icon", :type=>"image/gif", :href=>"/images/favicon-#{@site_config.site_slug}.gif"}
    %link{:href => versioned_stylesheet('oye_base'), :media => "screen", :rel => "stylesheet", :type => "text/css"}
        
  %body{:class => @site_config.site_slug}
    .container
      = partial :header
      .content
        = yield
      = partial :footer
    = tracking_code
